<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wackywidgets</title>
    <link rel="stylesheet" type="text/css" href='../static/css/style.css'>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>
<body>
    <h1>Wacky Widgets</h1>
    {% if widget_list|length == 0 %}
    <h3>No Widgets Exist</h3>
    {% else %}
    
    {% endif %}
    <hr>
    <h4>Add Widget</h4>
    <form method="post" class="pure-form">
        {% csrf_token %}
        {{ widgetForm.as_p }}
        <input type="submit" class="pure-button" value="ADD WIDGET">
    </form>
    <!-- non views form -->
    <!-- <form class="pure-form" method="POST" action="">
        {% csrf_token %}
        Description: <input description="description">
        <br>
        Quantity: <input quantity="quantity">
        <br>
        <button class="pure-button" type="submit">ADD WIDGET</button>
    </form> -->
</body>
</html>